
.cy_footer_dx {
    background-color: #f2f2f2;
    color: gray;
    padding: 2%;
}

@media only screen and (max-width: 800px) {

.cy_footer_dx{
    margin-top: 10%;
}

.cy_footer_dx {
    background-color: #f2f2f2;
    color: gray;
    padding: 10%;
}

}